//color
$bandsite-black: #323232;
$primary-text-color: #ffffff;

// screen sizes
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// padding sizes
$mobile-padding-before: 1.5rem;
$mobile-padding-after: 1rem;
$mobile-padding-between: 1rem;