@use './variables' as *;
@use './mixins' as *;

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::placeholder {
    color: #000000;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    color: #FFFFFF;
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;

    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
}

h2 {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 1.5rem;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

h3 {
    font-family: 'Avenir Next';
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.375rem;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

h4 {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

h5 {
    font-family: 'Avenir Next';
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.125rem;
    font-weight: 400;

    @include tablet {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

h6 {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 700;

    @include tablet {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}

.header {
    background-color: $bandsite-black;
    width: 100%;

    @include tablet {
        display: flex;
        align-items: baseline;
        padding-top: 1rem;
    }

    &__logo {
        display: flex;
        justify-content: center;
        padding-top: $mobile-padding-after;
        padding-bottom: $mobile-padding-after;

        @include tablet {
            padding-left: $tablet-padding-after;
            padding-right: $tablet-padding-after;
        }

        @include desktop {
            padding-left: 5rem;
        }
    }
}

.list {

    &__item {
        display: flex;

        @include tablet {
            display: flex;
            gap: 4rem;
        }
    }

    &__link {
        color: #AFAFAF;
        width: 50%;
        display: grid;
        justify-content: center;
        padding-bottom: $mobile-padding-after;
    }

    &__link--active,
    &__link:hover {
        color: #FFFFFF;
        border-bottom: 4px solid #FFFFFF;
        transition: all 0.5s ease;
    }
}



.footer {
    padding-top: $mobile-padding-after;

    @include tablet {
        padding-top: $tablet-padding-after;
    }

    &__main-container {
        background: $bandsite-black;
        padding-top: $mobile-padding-before;
        padding-left: $mobile-padding-between;
        padding-right: $mobile-padding-between;

        @include tablet {
            padding-top: 3rem;
            padding-right: 2.25rem;
            padding-left: 2.25rem;
        }

        @include desktop {
            padding-top: 3rem;
            padding-right: 5rem;
            padding-bottom: 3rem;
            padding-left: 5rem;
        }
    }

    &__container-1 {
        @include tablet {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__header {
        @include tablet {
            display: flex;
            align-items: center;
            gap: 6.9rem;
        }
    }

    &__text {
        color: $white;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &__list {
        padding-top: $mobile-padding-after;
        display: inline-flex;
        gap: 2rem;

        @include tablet {
            padding-top: 0;
        }
    }

    &__item {
        list-style: none;
    }
}

.logo {
    @include tablet {
        display: inline-flex;
        justify-content: flex-end;
    }

    &__bottom {
        display: none;

        @include tablet {
            display: flex;
        }
    }
}

.footer__second-container {
    @include tablet {
        display: flex;
        gap: 3.5rem;
    }
}

.second-container {
    padding-top: $mobile-padding-after;

    &__text {
        padding-top: $mobile-padding-after;
    }

    &__bold {
        color: $primary-text-color;
        font-size: 0.875rem;
        line-height: 1.375rem;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
    }

    &__regular {
        color: $primary-text-color;
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

.second-logo {
    padding-top: 3.5rem;

    @include tablet {
        padding-top: 1rem;
    }

    &__bottom {
        background: $bandsite-black;
        height: 1.25rem;

        @include tablet {
            display: none;
        }
    }
}