@use './partials/variables' as *;
@use './partials/mixins' as *;

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.primary-header {
    background: $bandsite-black;
    width: 100%;
}

.primary-nav {
    width: 100%;
    display: inline-block;
    justify-content: center;

        @include tablet {
            width: 50%;
        }
}

.nav-list {
    list-style: none;

        @include tablet {
            display: flex;
            align-items: center;
        }
}

.site-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
        @include tablet {
        padding-top: 1rem;
        padding-left: 2.2rem;
        padding-bottom: 1rem;
        padding-right: 3.75rem;
        }
}

.site-logo {
    background: $bandsite-black;
    height: 1.25rem;
}

.menu-list {
    list-style: none;
    color: #E1E1E1;
    text-decoration: none;

        @include tablet {
            padding-top: 0.938rem;
        }
}

.menu-list-active,
.menu-list:hover {
    color: $primary-text-color;
}

.primary-menu {
    font-family: 'avenir-regular';
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    display: flex;

    @include tablet {
        width: 50%;
        display: inline-flex;
        font-size: 0.813rem;
    }
}

.menu-container{
    width: 100%;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.menu-block {
    display: block;
    padding-top: 0.938rem;
    padding-bottom: 0.875rem;
}

.menu-container:hover,
.menu-container-active {
    border-bottom: 4px solid $primary-text-color;
    
    @include tablet {
        width: 50%;
    }
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-bio.jpg);
    opacity: #323232 0.5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 12.5rem;
    position: relative;

        @include tablet {
            height: 28rem;
        }
}

.page-header-text {
    color: $primary-text-color;
    font-family: 'avenir-regular';
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    position: absolute;
    bottom: 40%;
    left: 5%;

    @include tablet {
        font-size: 3.75rem;
        line-height: 4.25rem;
    }
}

.section-container {
    padding-top: $mobile-padding-before;
    padding-left: $mobile-padding-after;
    
        @include tablet {
            padding-top: $tablet-padding-before;
            padding-left: $tablet-padding-after;

        
        }

    &-text {
        font-family: 'avenir-regular';
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;

        @include tablet {
            font-size: 2.25rem;
            line-height: 2.75rem;
        }
    }
}

.band-image-container {
    padding-top: $mobile-padding-after;
    padding-left: $mobile-padding-between;
    padding-right: $mobile-padding-between;

        @include tablet {
            padding-top: $tablet-padding-after;
            padding-left: 5rem;
            padding-right: 5rem;
        }
}

.band-image {
    background-image: url(../assets/Images/band.jpg);
    background-size: 90% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 12rem;

        @include tablet {
            background-size: 100% 100%;
            height: 20rem;
            width: auto;
        }
}

.subheader-container {
    padding-top: $mobile-padding-after;
    padding-left: $mobile-padding-between;
    padding-right: $mobile-padding-between;

        @include tablet {
            padding-left: 5rem;
            padding-right: 5rem;
        }
}

.subheader-gap {
    padding-top: 1rem;
}

.subheader {
    font-family: 'avenir-demi';
    font-size: 0.875rem;
    line-height: 1.375rem;

        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
        }
}

.subheader-tablet {
    @include tablet {
            font-family: 'avenir-regular';
            font-size: 1.125rem;
            line-height: 2rem;
            font-weight: 700;
    }
}

.subheader-regular {
    font-family: 'avenir-regular';
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    padding-top: $mobile-padding-before;
    padding-bottom: $mobile-padding-after;

        @include tablet {
            font-family: 'avenir-demi';
            font-size: 1.5rem;
            line-height: 2rem;
            padding-top: $tablet-padding-before;
            padding-bottom: $tablet-padding-after;
        }
}

.body-container {

    @include tablet {
        display: flex;
        gap: 25px;
    }
}

.body-copy {
    font-family: 'avenir-regular';
    font-size: 0.813rem;
    line-height: 1.125rem;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
}

.body-copy-padding {
    padding-bottom: $mobile-padding-after;
}

.body-copy-padding-side {
    padding-left: $mobile-padding-between;
    padding-right: $mobile-padding-between;

        @include tablet {
            padding-right: 5rem;
            padding-left: 5rem;
        }
}

.body-copy-bottom-gap {
    padding-bottom: 1rem;
}

.background-alabaster {
    background-color: #fafafa;
    padding-left: $mobile-padding-between;
    padding-right: $mobile-padding-between;

        @include tablet {
            padding-left: $tablet-padding-after;
            padding-right: $tablet-padding-after;
        }
}

.photo-gallery-container{
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.section-photo {
    padding-top: 1rem;
    padding-bottom: $mobile-padding-after;
}

.gallery-image-container {
    padding-bottom: $mobile-padding-after;

        @include tablet {
            width: 31.5%;
            display: inline-block;
        }
}

.gallery-1 {
    background-image: url(../assets/Images/Photo-gallery-1.jpg);
    @include mobile-photo;
        @include tablet {
            height: 8rem;
        }
}

.gallery-2 {
    background-image: url(../assets/Images/Photo-gallery-2.jpg);
    @include mobile-photo;
            @include tablet {
            height: 8rem;
        }
}

.gallery-3 {
    background-image: url(../assets/Images/Photo-gallery-3.jpg);
    @include mobile-photo;
                @include tablet {
            height: 8rem;
        }
}

.gallery-4 {
    background-image: url(../assets/Images/Photo-gallery-4.jpg);
    @include mobile-photo;
            @include tablet {
            height: 8rem;
        }
}

.gallery-5 {
    background-image: url(../assets/Images/Photo-gallery-5.jpg);
    @include mobile-photo;
            @include tablet {
            height: 8rem;
        }
}

.gallery-6 {
    background-image: url(../assets/Images/Photo-gallery-6.jpg);
    @include mobile-photo;
            @include tablet {
            height: 8rem;
        }
}

.gallery-7 {
    background-image: url(../assets/Images/Photo-gallery-7.jpg);
    @include mobile-photo;
            @include tablet {
            height: 8rem;
        }
}

.gallery-8 {
    background-image: url(../assets/Images/Photo-gallery-8.jpg);
    @include mobile-photo;
            @include tablet {
            height: 8rem;
        }
}

.gallery-9 {
    background-image: url(../assets/Images/Photo-gallery-9.jpg);
    @include mobile-photo;
            @include tablet {
            height: 8rem;
        }
}

.primary-footer {
    background: $bandsite-black;
    padding-top: $mobile-padding-before;
    padding-left: $mobile-padding-between;
    padding-right: $mobile-padding-between;
}

.footer-container-1 {
    
    @include tablet {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}

.footer-header-text {
    color: $primary-text-color;
    font-family: 'avenir-demi';
    font-size: 1.5rem;
    line-height: 2rem;
}

.footer-icon {
    padding-top: $mobile-padding-after;
    display: inline-flex;
    gap: 2rem;

        @include tablet {
            padding-top: 0;
            margin-right: 6.25rem;
        }
}

.bottom-logo-container {
    @include tablet {
        display: inline-flex;
        justify-content: flex-end;
    }
}

.tablet-bottom-logo {
    display: none;

        @include tablet {
            display: flex;
        }
}

.primary-footer-container {

    @include tablet {
        display: flex;
        justify-content: space-between;
    }
}

.footer-container-2 {
    @include tablet {
        display: flex
    }
}

.footer-icon-list {
    list-style: none;
}

.footer-text-container {
    padding-top: $mobile-padding-after;
}

.footer-bold {
    color: $primary-text-color;
    font-family: 'avenir-demi';
    font-size: 0.875rem;
    line-height: 1.375rem;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
        }
}

.footer-regular {
    color: $primary-text-color;
    font-family: 'avenir-regular';
    font-size: 0.875rem;
    line-height: 1.375rem;
}

.site-logo-bottom {
    background: $bandsite-black;
    height: 1.25rem;

        @include tablet {
            display: none;
        }
}

.footer-logo-container{
    padding-top: 3.5rem;

        @include tablet {
            padding-top: 1rem;
        }
}