@font-face {
  font-family: "avenir-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-nav {
  background: #323232;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-nav {
    padding-top: 0.6rem;
  }
}
.main-nav__container {
  width: 100%;
  display: inline-block;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .main-nav__container {
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav__container {
    width: 30%;
  }
}
.main-nav__item {
  list-style: none;
}
.main-nav__item--container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .main-nav__item--container {
    padding-top: 1rem;
    padding-left: 2.2rem;
    padding-bottom: 1rem;
    padding-right: 3.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .main-nav__item--container {
    padding-left: 5rem;
  }
}
.main-nav__item--logo {
  background: #323232;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .main-nav__item {
    display: flex;
  }
}

.sub-nav {
  font-family: "avenir-regular";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .sub-nav {
    width: 50%;
    display: inline-flex;
    font-size: 0.813rem;
  }
}
.sub-nav__container {
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.sub-nav__container--active, .sub-nav__container:hover {
  border-bottom: 4px solid #ffffff;
}
.sub-nav__block {
  display: block;
  padding-top: 0.938rem;
  padding-bottom: 0.875rem;
}
.sub-nav__block--list {
  list-style: none;
  color: #E1E1E1;
  text-decoration: none;
}
.sub-nav__block--list--active, .sub-nav__block--list:hover {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .sub-nav__block--list {
    padding-top: 0.938rem;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-bio.jpg);
  opacity: #323232 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 30vh;
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero-image {
    min-height: 80vh;
  }
}
.hero-image__text {
  color: #ffffff;
  font-family: "avenir-regular";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero-image__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image__text {
    padding-left: 5rem;
  }
}

.section-container {
  padding-top: 1.5rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .section-container {
    padding-top: 3rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-container {
    padding-left: 5rem;
  }
}
.section-container-text {
  font-family: "avenir-regular";
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .section-container-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

.band-image__container {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .band-image__container {
    padding-top: 2.25rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .band-image__container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.band-image__container--photo {
  width: 100%;
  height: auto;
}

.subheader__container {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .subheader__container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .subheader__container {
    padding-right: 25.1rem;
    padding-left: 10rem;
  }
}
.subheader__container--text {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .subheader__container--text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.subheader__container--gap {
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .subheader-tablet {
    font-family: "avenir-regular";
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 700;
  }
}

.subheader-regular {
  font-family: "avenir-regular";
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .subheader-regular {
    font-family: "avenir-demi";
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

@media screen and (min-width: 768px) {
  .body-container {
    display: flex;
    gap: 25px;
  }
}

.body-copy {
  font-family: "avenir-regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .body-copy {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.body-copy-padding {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .body-copy-padding {
    padding-bottom: 2.25rem;
  }
}

.body-copy-padding-side {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .body-copy-padding-side {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .body-copy-padding-side {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

.body-copy-bottom-gap {
  padding-bottom: 1rem;
}

.background-alabaster {
  background-color: #fafafa;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .background-alabaster {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .background-alabaster {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .photo-gallery-container {
    display: flex;
    justify-content: space-between;
  }
}

.section-photo {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .section-photo {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.gallery-image-container {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .gallery-image-container {
    width: 31.5%;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .photo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
  }
}

.primary-photo {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.primary-footer {
  background: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .primary-footer {
    padding-top: 3rem;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .primary-footer {
    padding-top: 3rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
    padding-left: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-container-1 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}

.footer-header-text {
  color: #ffffff;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
}

.footer-icon {
  padding-top: 1rem;
  display: inline-flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .footer-icon {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .bottom-logo-container {
    display: inline-flex;
    justify-content: flex-end;
  }
}

.tablet-bottom-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  .tablet-bottom-logo {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .primary-footer-container {
    display: flex;
    gap: 4rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-header-container {
    display: flex;
    align-items: center;
    gap: 7.3rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-container-2 {
    display: flex;
  }
}

.footer-icon-list {
  list-style: none;
}

.footer-text-container {
  padding-top: 1rem;
}

.footer-bold {
  color: #ffffff;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .footer-bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.footer-regular {
  color: #ffffff;
  font-family: "avenir-regular";
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.site-logo-bottom {
  background: #323232;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .site-logo-bottom {
    display: none;
  }
}

.footer-logo-container {
  padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .footer-logo-container {
    padding-top: 1rem;
  }
}/*# sourceMappingURL=bio.css.map */