@font-face {
  font-family: "avenir-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-placeholder {
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

::placeholder {
  color: #000000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color: #FFFFFF;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-family: "avenir-demi";
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h4 {
  font-family: "avenir-regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h5 {
  font-family: "avenir-regular";
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  h5 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

h6 {
  font-family: "avenir-regular";
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h6 {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.header {
  background-color: #323232;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: baseline;
    padding-top: 1rem;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    padding-left: 5rem;
  }
}

.list__item {
  display: flex;
}
@media screen and (min-width: 768px) {
  .list__item {
    display: flex;
    gap: 4rem;
  }
}
.list__link {
  color: #AFAFAF;
  width: 50%;
  display: grid;
  justify-content: center;
  padding-bottom: 1rem;
}
.list__link--active, .list__link:hover {
  color: #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  transition: all 0.5s ease;
}

.footer {
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 2.25rem;
  }
}
.footer__main-container {
  background: #323232;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__main-container {
    padding-top: 3rem;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__main-container {
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container-1 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__header {
    display: flex;
    align-items: center;
    gap: 6.9rem;
  }
}
.footer__text {
  color: #FFFFFF;
  font-family: "avenir-demi";
  font-size: 1.5rem;
  line-height: 2rem;
}
.footer__list {
  padding-top: 1rem;
  display: inline-flex;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__list {
    padding-top: 0;
  }
}
.footer__item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .logo {
    display: inline-flex;
    justify-content: flex-end;
  }
}
.logo__bottom {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__bottom {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__second-container {
    display: flex;
    gap: 3.5rem;
  }
}

.second-container {
  padding-top: 1rem;
}
.second-container__text {
  padding-top: 1rem;
}
.second-container__bold {
  color: #ffffff;
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 768px) {
  .second-container__bold {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.second-container__regular {
  color: #ffffff;
  font-family: "avenir-regular";
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.second-logo {
  padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .second-logo {
    padding-top: 1rem;
  }
}
.second-logo__bottom {
  background: #323232;
  height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .second-logo__bottom {
    display: none;
  }
}/*# sourceMappingURL=global.css.map */