@font-face {
  font-family: "avenir-regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
}
@font-face {
  font-family: "avenir-demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype");
}
@font-face {
  font-family: "avenir-bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 57vh;
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
}
.hero-image__text {
  color: #FFFFFF;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero-image__text {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.hero-image__text-2 {
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .hero-image__text-2 {
    padding-bottom: 7rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-image {
    min-height: 73vh;
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero-image {
    display: flex;
    align-items: center;
    gap: 10.3rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 768px) {
  iframe {
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  iframe {
    width: 40%;
  }
}

.show-container {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .show-container {
    padding-top: 3rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .show-container {
    display: flex;
    justify-content: space-evenly;
  }
}

.tablet-info {
  color: #E1E1E1;
}

.show__date {
  font-family: "avenir-demi";
  width: 11rem;
}

.show__venue {
  width: 12rem;
}

.show__location {
  width: 11rem;
}

.show__gap {
  width: 9.375rem;
}

@media screen and (min-width: 768px) {
  .showtime-container {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #E1E1E1;
  }
}

@media screen and (min-width: 768px) {
  .showtime-container:hover {
    background-color: #fafafa;
  }
}

@media screen and (min-width: 768px) {
  .showtime-container:active {
    background-color: #E1E1E1;
  }
}

.show-text {
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .show-text {
    padding-bottom: 3rem;
  }
}

.h6-mecury {
  color: #AFAFAF;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .h6-mecury {
    display: none;
  }
}

.ticket-text {
  font-family: "avenir-demi";
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  background: #323232;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .ticket-text {
    width: 9.375rem;
  }
}

.ticket-text:hover {
  background: #000000;
}

.divider {
  border: 0.0325rem solid #E1E1E1;
  margin-right: -1rem;
  margin-left: -1rem;
}
@media screen and (min-width: 768px) {
  .divider {
    display: none;
  }
}

.tablet-info {
  display: none;
}
@media screen and (min-width: 768px) {
  .tablet-info {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=shows.css.map */